
# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are sumarized

**Objectives:**
* R
* Python
* SQL

# Some of the popular languages that Data Scientists use are:
1. R
2. C++
3. Python
4. SQL
5. Go
6. Java

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Seaborn
4. SciPy

| Data Science Tools:  |
|----------------------|
| RStudio              |
| Jupyter Notebook     |
| Git                  |

In [1]:
### Below are a few examples of evaluating arithmetic expressions in Python:
print (4+5)
print ((1+2)*3)
print (5+6*2)

9
9
17

###  Below are a few examples of evaluating arithmetic expressions in Python:

In [33]:
# This is a simple arithmetic expression to multiply thenn add integers.
(3*4)+5

17

In [34]:
# This will convert 200 minutes to hours by dividing by 60:
200/60

3.3333333333333335

## Author:
Johann Majorcsik